.about-us{
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 2rem;
}
.about-us {
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 2rem;
}

.about-us-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
}

.about-us-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 4rem;
}
.video-about {
    width: 70%;
    height: 25rem;
    border-radius: 2rem;
    background-color: #052444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-us-text {
    width: 60%;
}

.text-section{
    width: 85%;
    height: 40rem;
    background-color: #0c27521f;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem 0rem 3rem;
}

.text-title{
    color: #2B7CFF;
}

.text-content-1{
    font-size: 2.8rem;
    font-weight: 500;
    color: #052444;
    margin-right: 4rem;
}
.text-content-2{
    font-size: 1.5rem;
    color: #052444;
    margin-right: 5rem;
}

.learn-more{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    background-color: #052444;
    color: white;
    border-radius: 2rem;
    width: 13rem;
    height: 3rem;
    font-size: 1.2rem;
}

.about-us-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
}

.text-section-2{
    width: 35%;
    margin-top: -5rem;
    margin-left: 10rem;
}

.text-content-3{
    font-size: 3rem;
    margin-right: 3rem;
    color: #052444;
}

.text-content-4{
    font-size: 1.5rem;
    font-weight: 300;
}

.cards-section{
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    margin-right: 2rem;
}

.card-a{
    width: 13rem;
    height: 18rem;
    background-color: #052444;
    border-radius: 2rem;
    margin-left: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card_1{
    margin-left: -5rem;
}

.img-container{
    height: 5rem;
    width: 5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #6296E8, #071327);
}

.card-text{
    color: white;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}