.banner2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(to right, #052444 40%, #16A04B);
}

.banner2-text {
    font-size: 3rem;
    margin-left: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.banner2-text2 {
    font-size: 2rem;
    font-weight: 300;
    margin-right: 2rem;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
   
    .banner2-text{
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem;
    }
    .banner2-text2{
        font-size: 1.1rem;
        font-weight: 300;
        margin: 1rem;
    }
}

