/* Base styles remain the same */
.getstarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 2rem;
    padding-bottom: 5rem;
}

/* Upper Section */
.getstarted-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.getstarted-logo{
    width: 18rem;
    height: 4.5rem;
    margin-left: 12rem;
}

.getstarted-heading {
    font-size: 2rem;
    font-weight: 500;
    color: #0C2752;
}

.contact-button {
    height: 2.5rem;
    background-image: linear-gradient(to top right, #052444 20%, #16A04B);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-image 1s;

}

.contact-button:hover {
    background-image: linear-gradient(to top right, #052444 60%, #16A04B);
}

/* Middle Section */
.getstarted-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    text-align: center;
}

.getstarted-text-container {
    text-align: left;
    width: 80%;
    margin-left: 12rem;
}

.getstarted-text {
    font-size: 1.5rem;
    font-weight: 300;
    color: #0C2752;
    margin-bottom: 0.5rem;
}

.getstarted-bigheading {
    font-size: 5rem;
    font-weight: 600;
    color: #0C2752;
    margin: 0rem;
}

.getstated-component{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-box{
    height: 32rem;
    width: 27rem;
    border-radius: 1rem;
    background-color: #0C2752;
    color: white;
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0rem;
}

.contact-h{
    font-size: 3.5rem;
    margin: 0;
}


.contact-p{
    font-size: 1rem;
    margin: 0
}

.contact-ppp{
    font-size: 1rem;
    margin: 0;
    margin-top: 1.5rem;
}

.contact-b{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ffffff1a;
    border-radius: 1rem;
}
.contact-pb{
    font-size: 1.1rem;
    margin: 0
}

.contact-pp{
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1.5rem;
}
.icons-gtr-line{
    display: flex;
    justify-content: space-around;
}

.icons-gtr-line-a{
    color: white;
    margin: 0.5rem;
    font-size: 2rem;
    margin-bottom: 0rem;
}

.icons-gtr-line-a:hover{
    text-decoration: none;
    color: #84a4c9;
    scale: 1.1;
}



.getstarted-form-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* Social Icons */
.getstarted-social-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon-getstarted {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid #020202;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: all 0.3s ease-out;
    margin-top: 1rem;
    color: #0C2752;
    margin-right: 2rem;
}

.icon-gs {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    
}

.icon-getstarted:hover {
    background-color: #0C2752;
    color: #ffffff;
}

/* Lower Section */
.getstarted-lower {
    width: 80%;
    padding-top: 2rem;
}

/* Form */
.getstarted-form {
    width: max-content;
    margin-left: 2rem;
}

.getstarted-form-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap; /* Adjust layout for smaller screens */
}

.getstarted-form-inputs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem; /* Adds spacing between inputs */
    margin-bottom: 2rem;
}

.getstarted-form-inputs input{
    flex: 1;
    min-width: 250px;
    padding: 0.75rem;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #33333336;
    font-size: 1rem;
    outline: none;
    background: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

.getstarted-select{
    flex: 1;
    min-width: 250px;
    padding: 0.75rem;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #33333336;
    font-size: 1rem;
    outline: none;
    background: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
    color: #333;
    font-weight: 500;
}

.getstarted-select option::placeholder{
    color: #333;
    font-weight: 500;
}

.getstarted-select option{
    padding: 0.75rem;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #33333336;
    font-size: 1rem;
    outline: none;
    background: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
    color: #333;
    font-weight: 500;
}


.getstarted-form-inputs input::placeholder {
    color: #333;
    font-weight: 500;
}

.getstarted-form-inputs input:focus {
    border-bottom: 2px solid #3333334f;
}

.getstarted-form-textarea {
    width: 100%;
}

.getstarted-form-textarea textarea {
    width: 100%;
    height: 5rem;
    padding: 0.75rem;
    border: none;
    border-bottom: 2px solid #33333336;
    font-size: 1rem;
    outline: none;
    background: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

.getstarted-form-textarea textarea::placeholder {
    color: #333;
    font-weight: 500;
}

.getstarted-form-textarea textarea:focus {
    border-bottom: 2px solid #344657;
}

/* Submit Button */
.getstarted-submit {
    padding: 2rem;
    background-image: linear-gradient(to right, #052444 20%, #16A04B);
    color: white;
    border: none;
    border-radius: 2.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    transition: background-image 1s ease-in-out;
}

.getstarted-submit:hover {
    background-image: linear-gradient(to right, #052444 60%, #16A04B);
}

.getstarted-submit::after {
    content: " →";
    font-weight: bold;
}



@media screen and (max-width: 768px) {
    .getstarted-heading {
        font-size: 1.5rem;
    }

    .getstarted-bigheading {
        font-size: 3.5rem;
    }

    .getstarted-middle {
        flex-direction: column;
        align-items: center;
    }

    .getstarted-form-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .getstarted-form-inputs input {
        width: 90%;
    }

    .getstarted-form-textarea textarea {
        width: 90%;
    }

    .getstarted-submit {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .getstated-component{
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .getstarted-heading {
        font-size: 1.2rem;
    }
    .getstarted-logo{
        width: 12rem;
        height: 4rem;
    }
    .getstarted-text-container{
        width: 100%;
        margin-left: 0;
    }
    .getstarted-bigheading {
        font-size: 2.8rem;
    }

    .getstarted-text {
        font-size: 1.2rem;
    }

    .getstarted-social-container {
        flex-direction: row;
        justify-content: right;
        display: none;
    }

    .icon-getstarted {
        margin: 1rem;
    }

    .getstarted-middle {
        flex-direction: column;
        align-items: center;
    }
    .getstated-component{
            flex-direction: column;
    }
    .getstarted-form-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .getstarted-form-inputs input {
        width: 100%;
    }

    .getstarted-form-textarea textarea {
        width: 100%;
    }

    .getstarted-submit {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .contact-button {
        height: 2.5rem;
        font-size: 0.7rem;
    }

    .getstarted-submit{
        font-size: 1rem;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
    }
    .getstarted-form-inputs{
        flex-direction: column
    }
    .getstarted-form{
        margin-top: 1rem;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .contact-box{
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        padding: 1rem;
    }

    .contact-h{
        font-size: 2.5rem;
        margin: 0;
    }

    .contact-p{
        font-size: 1rem;
        margin: 0;
    }

    .contact-b{
        margin-top: 1rem;
        padding: 1rem;
        background-color: #ffffff1a;
        border-radius: 1rem;
    }

    .contact-pb{
        font-size: 1.1rem;
        margin: 0;
    }

    .contact-pp{
        font-size: 1.5rem;
        margin: 0;
        margin-top: 1rem;
    }

    .icons-gtr-line{
        display: flex;
        align-items: center;
    }
}
