#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(1, 16, 63), transparent), url("../assets/8.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    animation: changeImage 10s infinite;
    transition: background-image 1s ease-in-out;
}

@media (min-width: 769px) {
    @keyframes changeImage {
        0% {
            background-image: linear-gradient(to right, rgb(1, 16, 63), transparent), url("../assets/1.png");
        }
        25% {
            background-image: linear-gradient(to right, rgb(1, 16, 63), transparent), url("../assets/2.png");
        }
        50% {
            background-image: linear-gradient(to right, rgb(1, 16, 63), transparent), url("../assets/bgfornt4.png");
        }
        75% {
            background-image: linear-gradient(to right, rgb(1, 16, 63), transparent), url("../assets/bgfornt3.jpg");
        }
        100% {
            background-image: linear-gradient(to right, rgb(1, 16, 63), transparent), url("../assets/8.png");
        }
    }
}
.home {
    color: white;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

/* Responsive background and padding */
@media (max-width: 768px) {
    #home{
        background-image: url("../assets/mobilebg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .home {
        padding-bottom: 1.5rem;
    }
}

.home-content {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

/* Tag Line */
.Tag-line {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-left: 4rem;
}

/* Main Heading */
.tag-line-text {
    margin-top: 9rem;
    margin-left: 5rem;
    font-size: 5rem;
    font-weight: 500;
    text-align: left;
    margin-left: 2rem;
    color: white;
}



/* Responsive Text */
@media (max-width: 1024px) {
    .tag-line-text {
        font-size: 5rem;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .tag-line-text {
        font-size: 3rem;
        margin-top: 5rem;
    }
}

.tag-line-text-2 {
    margin-top: -2rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    color: white;
}

/* Responsive Subtext */
@media (max-width: 768px) {
    .tag-line-text-2 {
        font-size: 1.2rem;
    }
}

/* Content Section 2 */
.home-content-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.home-content-2-left {
    display: flex;
    padding-top: 5rem;
    padding-left: 3rem;
}

/* Arrow Icon */
.arrow-icon {
    width: 2.4rem;
    height: 2.8rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 1rem;
    border: rgba(255, 255, 255, 0.726) 1px dashed;
    transition: all 0.5s ease-in-out;
}

.arrow-icon:hover {
    cursor: pointer;
    border: white 1px solid;
    transform: rotate(360deg);
}

.content-2-text p{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.1px;
}

/* Email Input */
.email-input {
    background-color: white;
    border-radius: 2rem;
    width: 20rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0rem;
    margin-left: -0.5rem;
}

/* Responsive Email Input */
@media (max-width: 768px) {
    .email-input {
        width: 90%;
        margin-left: 0;
    }
}

.get-started {
    background-image: linear-gradient(to right, #052444 40%, #16A04B);
    border-radius: 2rem;
    width: 33%;
    height: 100%;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Button */
@media (max-width: 768px) {
    .get-started {
        width: 40%;
        font-size: 0.7rem;
    }
}

.email-home {
    width: 55%;
    height: 90%;
    border: none;
    border-radius: 2rem;
    background-color: white;
    padding-left: 1rem;
}

.email-home::placeholder {
    font-size: 1rem;
}

.email-home:focus {
    outline: none;
}

.home-content-2-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 5rem 0;
}

.download-brochure {
    background-image: linear-gradient(to right, #052444 40%, #16A04B);
    border-radius: 0.8rem;
    border: none;
    color: white;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}

.download-brochure:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #052444 20%, #16A04B);
    border: none;
}

/* Content Section 3 */
.home-content-3 {
    margin-top: 2rem;
    position: relative;
    padding: 2.5rem 0;
    width: 100%;
}



/* Box Container */
.home-content-3-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    background-color: white;
    flex-wrap: nowrap;
}

.home-content-3-text{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* Responsive Box */
@media (max-width: 768px) {
    .home-content-3{
        padding: 1rem 0;
    }
    .home-content-3-box {
        width: 100%;
        overflow: hidden;
    }
}

.home-content-3-text {
    flex-wrap: nowrap;
    color: #0C2752;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
