.proprietary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(238, 233, 233, 0.171), rgba(95, 93, 93, 0.26)), url('../assets/skelton.jpg');
    background-size: cover;
    background-position: center;
}

.proprietary-upper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    padding: 2rem;
}

.proprietary-heading{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0.2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.proprietary-text{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}

.proprietary-lower{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.proprietary-1{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.proprietary-box{
    display: flex;
    width: 100%;
    padding: 2rem;
}

.proprietary-square{
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #b5bdc9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.proprietary-arrow{
    margin-top: 1rem;
}


.proprietary-box-heading{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.proprietary-box-text{
    font-size: 1rem;
    font-weight: 300;
    color: white;
}
